<!doctype html>
<html>
  <style>
  </style>
  <script>
    function search() {
      let title = document.getElementById("title").value;
      let type = Array.from(document.getElementsByName("type")).find(r => r.checked).value;
      console.log(type);
      if (type === "Movie") {
        window.location.href = "/search/movie/" + title + "/1/";
      }
      else if (type === "TV Series") {
        window.location.href = "/search/tv/" + title + "/1/";
      }
      else {
        alert("Please select a type!");
      }
    }
  </script>
  <head>
  </head>
  <body>
    <h1>Welcome to Yusuf's Streaming Service</h1>
    <h2>!!!WARNING: USE AN AD-BLOCKER!!!</h2>
    <h3>If the movie viewer opens a new link, CLOSE IMMEDIATELY!</h3>
    <div class="search-params" style="border: 2px solid black">
      <div class="content-type-form">
        <form>
          <label for="type"><h3>Movie or TV Series:</h3></label>
          <label for="Movie">Movie</label>
          <input type="radio" id="type" value="Movie" name="type" checked>
          <br>
          <label for="TV Series">TV Series</label>
          <input type="radio" id="type" value="TV Series" name="type">
        </form>
        </div>
      <form>
        <label for="title"><h3>Title:</h3></label>
        <input type="text" id="title" name="title">
        <input type="button" value="Search" onclick="search()">
      </form>
      </div>
  </body>
</html>