<!doctype html>
<html>
  <style>
    .search-result-table {
      border-collapse: seperate;
      border-spacing:10px;
    }
    .movie-name {
      border-right: 5px solid black
    }
  </style>
  <head>
    <title>Search Results</title>
  </head>
  <body>
    <table class = "search-result-table">
  <thead>
    <tr>
      <th>Movie Name</th>
      <th>Year Released</th>
    </tr>
  </thead>
  <tbody>
  {% for movie in results %}
   <tr>
      <td class="movie-name"> <a href= "/watch/movie/{{ movie.id }}">{{ movie.name }}</a></td>
      <td>{{ movie.year }}</td>
   </tr>
  {% endfor %}
  </tbody>
</table>
  </body>
</html>