<!doctype html>
<html>
  <style>
    .search-result-table {
      border-collapse: seperate;
      border-spacing:10px;
    }
    .movie-name {
      border-right: 5px solid black
    }
  </style>
  <script>
    let nextPage = {{ page }} + 1;
    let prevPage = {{ page }} - 1;

    function changePage(change) {
      if (change ===  "next") {
        window.location.href = "/search/movie/{{ title }}/" + nextPage + "/";
      } else {
        if (prevPage === 0){
          alert("This is the first page!")
        } else{
          window.location.href = "/search/movie/{{ title }}/" + prevPage + "/";
        }       
      }
    }
  </script>
  <head>
    <title>Search Results</title>
  </head>
  <body>
    <table class = "search-result-table">
      <thead>
        <tr>
          <th>Movie Name</th>
          <th>Year Released</th>
        </tr>
      </thead>
    <tbody>
    {% for movie in results %}
     <tr>
        <td class="movie-name"> <a href= "/watch/movie/{{ movie.id }}">{{ movie.name }}</a></td>
        <td>{{ movie.year }}</td>
     </tr>
    {% endfor %}
    </tbody>
  </table>
  <button onclick="changePage('prev')">Prev Page</button>
  <button onclick="changePage('next')">Next Page</button>
  </body>
</html>