{% extends 'base.html' %}
{% block title %}Streaming Service • Watch Movie{% endblock %}
{% block content %}
  <div class="alert" role="alert">Warning: Use an ad-blocker. If a new tab opens, close it immediately.</div>
  <div class="iframe-wrap" style="margin-top:16px;">
    <div class="iframe-box">
      <iframe id="movie" src="https://www.2embed.cc/embed/{{id}}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
{% endblock %}